[Unit]
Description=DarkWG tunnel: %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/darkwg-quick up /etc/darkwg/%i.conf
ExecStop=/usr/local/bin/darkwg-quick down /etc/darkwg/%i.conf

[Install]
WantedBy=multi-user.target
